################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dotnet_app/.vs
/dotnet_app/obj
/dotnet_app/bin
