################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bitwarden_hibp/.vs
/bitwarden_hibp/obj
/bitwarden_hibp/bin/Debug/netcoreapp2.1
